{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<h1 style="max-width:400px; margin:auto; margin-top:50px; text-align:center;">Connexion</h1>
<form action="{{ path('security_login')}}" method="post">
    <div class="form-group" style="max-width:400px; margin:auto; margin-top:50px;">
        <label>Adresse email:</label>
        <input required name="_username" type="text" class="form-control">
    </div>
    <div class="form-group" style="max-width:400px; margin:auto; margin-top:20px;">
        <label>Mot de passe:</label>
        <input required name="_password" type="password" class="form-control">
    </div>
    <div class="form-group" style="margin:auto; margin-top:50px; text-align:center;">
<<<<<<< HEAD
        <button type="submit" class="btn btn-info">Valider</button>
=======
        <button type="submit" class="btn btn-success">Valider</button>
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91
    </div>
</form>
{% endblock %}
