{% extends 'base.html.twig' %}

{% block title %}Commentaire{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
<<<<<<< HEAD
    *{font-family: 'Lato';}
</style>

<div class="example-wrapper">

=======
</style>

<div class="example-wrapper">
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91
    <h1>Mes commentaires</h1>

    <table>
    <thead>
        <tr>
            <th> {{ comment.commentator.firstname }} {{ comment.commentator.lastname }} </th>
        </tr>
        <tr>
            <td>{{ comment.text}} </td>
        </tr>
    </thead>
    
    </table>
<<<<<<< HEAD

=======
>>>>>>> 589ebd67701772fba3dcbac06822db2422230f91
</div>
{% endblock %}