<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .title{text-align:center;color:#fff;margin-top: 60px; background: #005c96; border: 1px solid #005c96; border-radius: 50px; padding: 20px;}
    *{font-family: 'Lato';}
    .btn{text-align:center; display:block; margin:auto;}
</style>

<div class="container">

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Modifier') }}</button>
{{ form_end(form) }}

</div>